@import "global.css";
.table {
    width: 100%;
    max-width: 800px;
    border-radius:6px;
    margin: auto;
    border-collapse: collapse;
}

/* .table tr:last-child > td:first-child {
    border-bottom-left-radius: 6px;
} */

.table td,
.table th {
    padding: 10px 15px;
    border: 2px solid var(--h-gris);
}

.table tr > td:nth-child(2) {
    text-align: right;
}