:root{
    --main: #ffc88e;
    --h-blue: #5181FF;
    --h-b-blue: #2648A2;
    --gris: #2C2B33;
    --bg: #0C0E14;
    --white: #FFF2F2;
    --m-text: #9D8A8A;
    --l-gris: #4E4D5A;
    --red: #CE4B4B;
    --green: #51B940;
}