.flex-container-info { 
  display: flex;
  align-items: inherit;
  justify-content: space-evenly;
}

.vertical { 
  flex-direction: column;
  justify-content: space-around;
}

.horizontal { 
  flex-direction: row;
  justify-content: space-between;
}

.centered{
  text-align: center
}

.codeBlock{
  border-radius: 10px;
  max-width: 1000px;
  width: 1000px;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  background-color: var(--gris);
  margin-left: 5%;
  margin-bottom: 5%;
}

.block{
  margin-right: 5%;
}

.small-info{
  font: inherit;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  color: inherit;
}

pre{
  background: #1e1e1e79;
  border-radius: 10px;
}

code{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #1e1e1e00;
  padding: 15px;
  display: block;
  overflow-y: auto;
  line-height: 1.5;
  max-height: 650px;
}