.flex-container-info { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.vertical { 
  flex-direction: column;
  min-height: 100vh;
}

.horizontal { 
  flex-direction: row;
}

.fill-flex{
  flex-grow: 1;
}

.codeBlock{
  border-radius: 10px;
  max-width: 650px;
  padding: 15px 30px 15px 30px;
  box-sizing: border-box;
  background-color: var(--gris);
  margin-left: -10%;
  margin-top: -5%;
}

.block{
  background: #323030aa;
}

.small-info{
  font: inherit;
  padding: 5px 15px;
  border-radius: 15px;
  border: none;
  color: inherit;
}

pre{
  background: #1e1e1e79;
  border-radius: 10px;
}

code{
  font-family: 'Courier New', Courier, monospace; /* Define una fuente monoespaciada para el código */
  font-size: 1em; /* Establece el tamaño de la fuente en 1em */
  background: #1e1e1e00;
  padding: 15px; /* Agrega un espacio de relleno alrededor del código */
  display: block; /*Hace que el código se muestre en un bloque separado*/
  overflow-y: auto; /* Agrega un desplazamiento horizontal para mostrar el código completo */
  line-height: 1.5; /* Establece la altura de línea en 1.5 para mejorar la legibilidad */
  max-height: 650px;
}