/*este no consigo que funcione y no se porque*/
.marketplace-kernels { 
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    /* width: 100%;
    height: 100%; */
}

.container-marketplace{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    /* width: 100%;
    height: 100%; */
}


