@import "global.css";

#nav-bar-container{
    position: sticky;
    top: 0px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

#nav-bar{
    background-color: var(--gris);
    height: 54px;
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    width: 100%;
}

#nav-bar > .nav-bar-sec{
    display: flex;
    align-items: center;
}

#nav-bar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-bar a{
    color: inherit;
    text-decoration: none;
}

#nav-bar > .nav-bar-sec > ul > li{
    display: inline-block;
    padding: 20px 25px;
}

#nav-bar > .nav-bar-sec > ul {
    display: flex;
    align-items: start;
}

#nav-bar > .nav-bar-sec > ul > li > ul li{
    display: block;
    padding: 15px 20px;
}

#nav-bar > .nav-bar-sec > ul > li > ul {
    display: none;
    position: absolute;
}

#nav-bar > .nav-bar-sec > ul > li .dropdown-content{
    position: relative;
    /* left: -15px; */
    margin-top: 25px;
    background-color: var(--gris);
    border-radius: 15px;
}

#nav-bar > .nav-bar-sec > ul > li:hover > ul {
    display: block;
}

#nav-bar > .nav-bar-sec > ul > li > ul:hover{
    
    display: block;
}


#nav-bar > .nav-bar-sec > button:first-of-type{
    margin-right: 15px;
}
