#transaction_table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    
}
#transaction_table th, #transaction_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#transaction_table th {
    background-color: #f2f2f2;
    color: #333;    
}
#transaction_table tr:nth-child(even) {
    background-color: #f9f9f9;

}