.main-container {
    padding-bottom: 80px;
}

#faq-section {
    padding-bottom: 80px;
}

.title-FAQ{
    font-size: 80px;
    text-align: center;
}

.question-FAQ {
    margin-left: 10px;
}

.FAQ-index { 
    margin: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    flex-wrap: wrap;
    align-items: start;
}

.answers{
    margin: auto;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}